[submodule "vendor/github.com/skratchdot/open-golang"]
	path = vendor/github.com/skratchdot/open-golang
	url = https://github.com/skratchdot/open-golang.git
[submodule "vendor/github.com/mcandre/mage-extras"]
	path = vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras.git
